*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
width: 340px; 
height: 600px;
align-items: center;
margin:19px auto;
margin-left: 500px;
border: 1px solid black;
background-color: rgb(73, 73, 72);
/* border-top-left-radius: 20px;
border-top-right-radius: 20px; */
border-radius: 20px;

}
.input input{
    align-items: center;
    padding:18px ;
    width: 340px;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    border: none;
    background-color: rgb(59, 92, 131);
    text-align: right;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
   
}
.input label{
    font-size: 20px;
    /* background-color: rgba(188, 233, 188, 0.397); */
   
   
}

.btn button{
width: 70px;
height:70px ;
margin-top: 10px;
margin-left:8px;
font-weight: bold;
font-size: 20px;
border-radius: 40px;
border: none;
background-color: rgb(59, 92, 131);
/* background-color: rgb(60, 79, 100); */
color: white;
box-shadow: 3px 5px 5px rgb(56, 56, 56);
}
button.btnspecial{
    background-color: rgb(24, 230, 230);
    color:rgb(4, 4, 78);
}
.btn button:hover{
     background-color: rgb(24, 230, 230);olor:;
     color:rgb(4, 4, 78) ;
 transition:0.3s;
    
}
button.btnspecial:hover{
    background-color: rgb(59, 92, 131);
    color: white;
    transition:0.3s;
}